@font-face {
    font-family: "Product Sans";
    src: url("fonts/ProductSans.ttf");
}

* {
    overflow-x: hidden;
    font-family: 'Product Sans', sans-serif;
}

#wrap {
    /* Center vertically and horizontally in page */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: tranlate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        width: 150px;
        display: inline-block;
    }
    a {
        text-decoration: none;
        display: block;
        background-size: 100% 200%;
        -webkit-transition: background-position .3s, color .3s;
        -moz-transition: background-position .3s, color .3s;
        transition: background-position .3s, color .3s;
        &:hover {
            background-position: 0 -100%;
        }
    }
}

#mainSection {
    position: relative;
    height: 100vh;
    width: 100%;
    
    svg {
        width: 75vw;
    }
}

.vignette {
    position: relative;
    
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        content: "";
    }   
}

#aboutSection {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
}

#footer {
    font-size: 8pt;
    font-weight: 100;
    height: 250px;
    color: white;
    text-align: center;
    line-height: 15px;
    
    .sign {
        //opacity: 0.4;
        opacity: 0.7;
        background-image: url("svg/sign.svg");
        background-size: cover;
        margin-top: 40px;
        width: calc(566px/3);
        height: calc(180px/3);
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        position: absolute;
    }
    
    #copy {
        position: relative;
        top: 120px;
        
        #copytext {
            opacity: 0.4;
        }
    }
    
    #socialContainer {
        position: relative;
        top: 145px;
        text-align: center;
        margin: 0 auto;
        height: 60px;
        
        .socialLink {
            opacity: 0.5;
            position: relative;
            overflow: hidden;
            display: inline-block;
            text-align: center;
            height: 50px;
            width: 50px;
            margin: 0px;
            margin-top: -5px;
            line-height: 50px;
            font-size: 25pt;
            vertical-align: top;
            
            -webkit-transition: opacity .2s;
            -moz-transition: opacity .2s;
            transition: opacity .2s;
        
            &:hover {
                opacity: 0.8;
            }
        }
    }
    
    a {
        color: white;
        text-decoration: none;
        
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
        opacity: 0.4;
        
        &:hover {
            opacity: 0.7;
        }
    }
}