<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/signature.css') }}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='icon/css/fontello.css') }}" rel="stylesheet" type="text/css">

<style>
.nav li { 
    border-top: 3px solid {{ color }};
} 

.nav a { 
    color: {{ color }};
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, {{ color }} 50%);
}

.nav a:hover {
    color: {{ hovercolor }};
} 

path,line {
    stroke: {{ color }};
}

#footer {
    background-color: {{ color }};
}

.vignette:after{
    -moz-box-shadow: inset 0 0 10em {{ color }};  
    -webkit-box-shadow: inset 0 0 10em {{ color }};   
    box-shadow: inset 0 0 10em {{ color }};
}
</style>