<!DOCTYPE html>
<html>
    <!-- Hint, trying refreshing for new colors! -->
    <head>
        <title>K|F</title>
        {% include 'head.html' %}
    </head>
    <body>
        <div class="nav">
          <ul>
            <li id="about"><a href="#">about</a>
            <li id="skills"><a href="#">skills</a>
            <li id="work"><a href="#">work</a>
            <li id="contact"><a href="#">contact</a>
          </ul>
        </div>
        <div id="mainSection">
            <div id="wrap">
                {% include 'signature.html' %}
            </div>
        </div>
        <div id="aboutSection">
        </div>
        <div id="skillsSection">
        </div>
        <div id="projectsSection">
        </div>
        <div id="footer">
            <div class="sign"></div>
            <span id="copy"><span id="copytext"><span style="font-family: sans-serif;">&copy;</span> {{ year }} Kyle Frost |</span> <a href="http://frst.xyz/site_blog" target="_blank">Blog</a></span>
            <div id="socialContainer">
                <a href="http://frst.xyz/site_facebook" target="_blank"><div class="socialLink icon-facebook-circled"></div></a>
                <a href="http://frst.xyz/site_twitter" target="_blank"><div class="socialLink icon-twitter-circled"></div></a>
                <a href="http://frst.xyz/site_resume" target="_blank"><div class="socialLink icon-doc-text-inv"></div></a>
                <a href="http://frst.xyz/site_github" target="_blank"><div class="socialLink icon-github-circled"></div></a>
                <a href="http://frst.xyz/site_linkedin" target="_blank"><div class="socialLink icon-linkedin-circled"></div></a>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>