<!DOCTYPE html>
<html>
    <!-- Hint, trying refreshing for new colors! -->
    <head>
        <title>K|F</title>
        {% include 'head.html' %}
    </head>
    <body>
        <div class="nav">
          <ul>
            <li id="about"><a href="#">about</a>
            <li id="skills"><a href="#">skills</a>
            <li id="work"><a href="#">work</a>
            <li id="contact"><a href="#">contact</a>
          </ul>
        </div>
        <div id="mainSection">
            <div id="wrap">
                {% include 'signature.html' %}
            </div>
        </div>
        <div id="aboutSection" style="letter-spacing: -12px;font-size: 200pt;text-align: center;">
            <span style="color: #4285f4;">F<span style="color: #ea4335;">r</span><span style="color: #fbbc05;">o</span><span style="color: #4285f4;">s</span><span style="color: #34a853;">t</span><span style="color: #ea4335;">.</span>
        </div>
        <div id="footer">
            <div class="sign"></div>
            <span id="copy"><span style="font-family: sans-serif;">&copy;</span> {{ year }} Kyle Frost | <a href="http://blog.kylefrost.me/" target="_blank">Blog</a></span>
            <div id="socialContainer">
                <div class="socialLink icon-facebook-circled"><a href="" target="_blank"></a></div>
                <div class="socialLink icon-twitter-circled"><a href="" target="_blank"></a></div>
                <div class="socialLink icon-doc-text-inv"><a href="" target="_blank"></a></div>
                <div class="socialLink icon-github-circled"><a href="" target="_blank"></a></div>
                <div class="socialLink icon-linkedin-circled"><a href="" target="_blank"></a></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>