<!DOCTYPE html>
<html>
    <!-- Hint, trying refreshing for new colors! -->
    <head>
        <title>K|F</title>
        {% include 'head.html' %}
    </head>
    <body>
        <div style="letter-spacing: -12px;font-size: 200pt;text-align: center;">
            <span style="color: #4285f4;">F</span><span style="color: #ea4335;">r</span><span style="color: #fbbc05;">o</span><span style="color: #4285f4;">s</span><span style="color: #34a853;">t</span><span style="color: #ea4335;">.</span>
        </div>
    </body>
</html>